@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400&display=swap');

html, body {
	margin: 0;	
	padding: 0;
	width: 100%;
}

body {
	height: 100vh;
	background: #151519;
}

.button {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,  -50%);
	text-decoration: none;
	border: 1px solid #fff;
	color: #ccc;
	font-size: 18px;
	border-radius: 4px; 
	padding: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	text-transform: capitalize; 
	
}

.button {
	transition: .6s;
	overflow: hidden;
}


.button:focus {
	outline: none
}

.button:before {
	content: '';
	display: block;
	position: absolute;
	background: rgba(255,255,255,.5);
	width: 60px;
	height: 100%;
	left: 0;
	top: 0;
	opacity: .5s;
	filter: blur(30px);
	transform: translateX(-130px) skewX(-15deg);
}

.button:after {
	content: '';
	display: block;
	position: absolute;
	background: rgba(255,255,255.2);
	width: 30px;
	height: 100%;
	left: 30px;
	top: 0;
	opacity: 0;
	filter: blur(30px);
	transform: translate(-100px) scaleX(-15deg);
}



.button:hover {
	background: #dba736;
	cursor: pointer;
	color: black
	
}

.button:hover:before {
	transform: translateX(300px) skewX(-15deg);
	opacity: .6;
	transition: .7s;
}

.button:hover:after {
	transform: translateX(300px) skewX(-15deg);
	opacity: 1;
	transition: .7s;
}


